@import "mixins";
@import "variables";

.navbar {
  display: inline-block;
}

.twitch-stream {
  width: 640px;
  height: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 80px;

  @include for-break(sm) {
    margin-top: 180px;
    width: 480px;
    height: 270px;
  }

  @include for-break(xs) {
    margin-top: 180px;
    width: 320px;
    height: 200px;
  }
}